button {
  background: white;
  border-style: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 14px;
}

button:hover {
  cursor: pointer;
}

button:hover {
  filter: brightness(85%);
}

button:active {
  transform: scale(0.95);
}

button > p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
