.resume-education {
  margin-bottom: 0.5rem;
}

.resume-education > div {
  margin: 0;
}

.resume-education > div p {
  margin: 2px;
}

.resume-school {
  display: flex;
  font-weight: bold;
}

.resume-school > .school-location {
  margin-left: auto;
}

.resume-degree {
  display: flex;
  font-weight: bold;
}

.resume-degree > .degree-date {
  margin-left: auto;
}
