.resume-experience {
  margin-bottom: 0.5rem;
}

.resume-experience > div {
  margin: 0;
}

.resume-experience > div p {
  margin: 2px;
}

.resume-company {
  display: flex;
  font-weight: bold;
}

.resume-company > .company-location {
  margin-left: auto;
}

.resume-job {
  display: flex;
  font-weight: bold;
}

.resume-job > .job-date {
  margin-left: auto;
}
