.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.input-group label {
  font-weight: bold;
}

textarea {
  resize: vertical;
  min-height: 50px;
  max-height: 200px;
}

textarea,
input {
  border-radius: 0.5rem;
  border-style: none;
  background-color: #e5e5e5;
  padding: 0.5rem;
}
