.resume-content {
  margin-bottom: 0.5rem;
}

.resume-content > div {
  margin: 0;
}

.resume-content > div p {
  margin: 2px;
}

.first-line {
  display: flex;
  font-weight: bold;
}

.first-line > .right-column {
  margin-left: auto;
}

.second-line {
  display: flex;
  font-weight: bold;
}

.second-line > .right-column {
  margin-left: auto;
}
